<div class="row bg-dark " id="homeind">
  <div class="col-6 p-5 d-inline-block">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
           alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">My dream destination </h5>
        <p class="card-text">
          I am new to design , I know concepts and looking forward to remote offers along with adding more fe to this page some day this site would look great
          one more step forward in the journey
        </p>
      </div>
    </div>
  </div>
  <div class="col-6 p-5 bg-dark text-light align-self-center d-inline-block">
    <div class="d-inline-block">
      <h3>Hi I am Inder</h3>
      <h4>A full stack developer with 2+ years of Experience</h4>
      <h3>My current Stack is</h3>
       <h3>MySQL</h3>
       <h3>Angular</h3>
       <h3>.NET CORE</h3>
       <h3> Three.Js | Angular | Angular.js | .NET | Python | Plugins | Automation </h3>
      <h5>I have experience for windows servers now going linux</h5>
    </div>
    </div>
  </div>
