<div class="row bg-dark text-light p-5" id="proffind">
  <div class="col-8 col-sm-12 col-md-6">
    <h3 class="text-light">Efficiency</h3>
    <h4>Angular</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="35" />
    <h4>Angular.js</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="75" />
    <h4>DevOPS</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="35" />
    <h4>Backend</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="75" />
    <h4>.NET</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="70" />
    <h4>TypeScript</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="25" />
    <h4>AUTOCAD</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="25" />
    <h4>BASH/LINUX</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="25" />
    <h4>DBMS</h4>
    <ngb-progressbar class="mb-3" type="primary" [value]="65" />
    <h4 (click)="wobbleField = true">Python</h4>
  
    <ngb-progressbar [@wobble]="wobbleField"
    (@wobble.done)="wobbleField = false"
    class="mb-3" type="primary" [value]="65" />
  </div>
</div>
