<div class="row bg-dark justify-content-around p-5" id="projectind">
  <div [@slide]="visible()" class="avcd"> 
  </div>
  <button (click)="visible.set(!visible())">{{ visible() ? 'Hide' : 'Show'}}</button>
  <div class="text-light"><h3>Projects I have worked on</h3></div>
  <div class="card col-3 d-inline-block" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title bg-dark text-light p-0">Mail-Parser | Ajax, .Net, SQL, Postman, Razor Pages</h5>
      <p class="card-text">
        • Reconfigured the code to handle the data and XML changes occurring along with facilitating the working of current
        data source depending on the provided cases.
      </p>
    </div>
  </div>
  <div class="card col-3 d-inline-block" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title bg-dark text-light p-0">Private Label Lite | EF framework, .NET framework, Angular.js, Razor Pages, API</h5>
      <p class="card-text">
        • Redesigned the UI and back end consumption for the used API endpoints . Developed and tested the consumption
        along with modifying code for new inputs from the API.
        • Handled the migrations along with applying checks to improve the performance by 20%.
      </p>
    </div>
  </div>
  <div class="card col-3 d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title bg-dark text-light p-0">SmartGateWay | .NET-MVC, Angular, Razor Pages, API, Pipeline Framework</h5>
      <p class="card-text">
        • Resolved bugs and developed UI changes for the project with respect to the requirements in BRDs along with
        investigations on faulty orders and business logic modifications
        • Worked on both front end and back end along with db changes
      </p>
    </div>
  </div>
  <div class="card col-3 d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title bg-dark text-light p-0">ExcelTOVCF | Python</h5>
      <p class="card-text">
        • want an app that converts the given excel to vcf
        • Worked on both front end and back end 
      </p>
    </div>
  </div>
  <div class="card col-3 d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title bg-dark text-light p-0">Data Extraction  | Python| running ....</h5>
      <p class="card-text">
        • want to extract datq from tables and file written on PDF 
        • Worked on both front end and back end along with GUI the app works with openCV
      </p>
    </div>
  </div>
  <div class="card col-3 d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title bg-dark text-light p-0">WallDraw | .NET C# windows forms</h5>
      <p class="card-text">
        • an AUTO CAD plugin that aids you while drawing big blocks
        • Worked on both front end and back end 
        • learnt to use basic plugin development for plugin
        • made an plugin for cost estimation of different sections like if you need to count the number of doors and windows and find thier size and then calculate cost accordingly
        • use plugin and save the manual effort, used some of the .net apis 
      </p>
    </div>
  </div>
  
  </div>