<div class="live-container">
<script>
    let path = document.querySelector('path');
    let pathLength= 2058;
    path.style.strokeDasharray= pathLength + ' ' +pathLength;
    path.style.strokeDashOffSet= pathLength;
  
    window.addEventListener('scroll',()=>{
        //what % down is it?
        var scrollPercentatge = (document.documentElement.scrollTop +document.body.scrollTop)/ (document.documentElement.scrollHeight - document.documentElement.clientHeight);
  
        //Length to offset the dashes
        var drawLength = pathLength* scrollPercentage;
  
        // draw in reverse
        path.style.strokeDashOffSet = pathLength - drawLength;
    })
    </script>
<app-main-hero></app-main-hero>
<app-head></app-head>
<app-hero></app-hero>
<app-proficiency></app-proficiency>
<app-projs></app-projs>
<app-exp></app-exp>
<!-- <app-prof-certific></app-prof-certific>-->
<app-reach-out></app-reach-out>
<app-myblogs>
</app-myblogs>
<app-foot></app-foot>
</div>
<!-- <script>
    let path = documen.querySelector('path')
    let pathLength= path.getTotalLength()
    path.style.strokeDasharray= pathLength + ' ' +pathLength;
    path.style.strokeDashOffSet= pathLength;

    window.addEventListener('scroll',()=>{
        //what % down is it?
        var scrollPercentatge = (document.documentElement.scrollTop +document.body.scrollTop)/ (document.documentElement.scrollHeight - document.documentElement.clientHeight);

        //Length to offset the dashes
        var drawLength = pathLength* scrollPercentage;

        // draw in reverse
        path.style.strokeDashOffSet = pathLength - drawLength;
    })

</script>
</div> -->